body {
  background: rgb(33, 33, 88);
  max-width: 430cm;
  max-height: 500cm;
}
header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: white;
}
section {
  background: rgb(117, 116, 116);
  max-width: 370cm;
  max-height: 440cm;
  position: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  margin: 30px;
  padding: 30px;
  text-align: center;
  border-radius: 1cm;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.945);
}
div {
  padding: 40px;
}

footer {
  text-align: center;
  font: Arial;
  font-size: 1em;
  color: white;
}
